body {

  margin: auto;
  
}

body::-webkit-scrollbar {
  width: 12px;               /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: rgb(223, 0, 0);        /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(255, 255, 255);    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 3px solid rgb(223, 0, 0);  /* creates padding around scroll thumb */
}

img {
  position: absolute;
  /* border: none; */
}

svg {
  position: absolute;
  z-index: 99;
}

.pin {
  position: absolute;
  z-index: 99;
}

.matrix {
  width: 100svw;
  height: 100svh;
  position: absolute;
  opacity: 1;
  z-index: 1;
}

.recters {
  opacity: 0;
}

.walkers {
  opacity: .4;
}

#start {
  opacity: 0;
}

#end {
  opacity: 0;
}

@keyframes pin {
  100% {
    
    transform: scale(1);
    opacity: 0;
  }
}

.cover {
  display: none;
}

.circlers {
  opacity: .6;
  z-index: 99;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.circlers:hover {
  opacity: 1;
}

.focus{
  opacity: 1;
}

.stairs {
  transition: all 1s ease-in-out;
}

@media screen and (max-width: 768px) {
  .eacMap {
    transform: scale(0.6);
    margin-left: -25%;
  } 
  
}