body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 1;
  
  overflow-y: scroll;
  background: url("/imgs/3047223.jpg")no-repeat center center fixed;
  background-size: cover;
  backdrop-filter: blur(3px);
  background-color: rgba(128, 128, 128, 0.249);
  background-blend-mode: multiply;
}

#announcements {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  overflow-y: auto;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: normal;
  height: 100%;
  width: 100%;
}

.container h1{
  margin-top: 0;
  text-align: center;
}


.right-aligned{
  margin-left: 460%;
}


.mainCont{
  /* background-color: #f78fa9; */
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: auto ;
}

.announcement{
  padding-top: 0%;
  min-width: 200px;
}
.announcement h1{
  padding-left: 0;

}
  
.card-body{
  width: 100%;
  height: 100%; 
  overflow-y: auto;
  transition: all 0.6s;
  /* background-color: #f78fa9; */
  border-radius: 15px;
  display: contents;
}


.card-text{
  overflow: hidden;
  text-overflow: ellipsis;
  /* white-space: nowrap;
  max-width: 600px; */
  word-break: break-all;
  word-wrap: break-word;
  text-align: justify;
}

p{
  line-height: 1.5;
}

.card {
  width: 300px;
  height: 500px;
  transition: all 0.6s;
}

.card:hover{
  transform: scale(1.1);
  transition: all 0.6s;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  z-index: 1;
}

.card-header{
  height: 20%;  
  font-size: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  background: linear-gradient(110deg, #8e0000de 60%,#fdcd3b 60%);

} 

.createBtn {
  right: 75px;
  position: fixed;
  z-index: 999;
  float: right;
  transition: transform 0.3s ease-out;
  bottom: 75px;
  background-color: transparent;
  font-size: 3rem;
  color: rgb(173, 0, 0);
  border: none;
}

img{
  width: 60px;
  height: 60px;
  transition: transform 0.2s ease-out;
}

.createBtn:hover {
  transform: scale(1.1);

} 

.card-footer .editBtn , .deleteBtn{
  float: right;
}

.editBtn{
  color: rgb(255, 145, 0);
}

.deleteBtn {
  color: rgb(105, 0, 0);
}

/* small {
  position: relative;
  right: 5%;
  width: 5%;
  height: 4%;
  top: 150px;
} */



  
#viewAnnouncementContent {
  white-space: pre-wrap;
  overflow: hidden;
  word-wrap: break-word;
  text-align: justify;
}

.modal-title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 100%;
}

.notification-container {
  position: relative;

}

.notification-button {
  position: fixed;
  top: 4%;
  left: 90%;
  z-index: 9999;
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.notification-button i {
  font-size: 24px;
}

.notification-button:hover .badge {
  transform: scale(1.1);
}

.badge {
  position: absolute;
  top: -15px;
  right: -19px;
  display: none;
  padding: 4px 8px;
  border-radius: 50%;
  background-color: #faf7f7;
  color: rgb(3, 3, 3);
  font-size: 0.8rem;
  transition: all 0.2s ease-in-out;
}

.notification-popup {
  position: absolute;
  top: 100%;
  right: 0;
  z-index: 999;
  width: 320px;
  max-height: 80vh;
  overflow-y: auto;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  display:none;

}

.notification-popup.open {
  position: fixed;
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  right: 3%;
  top: 8%;
}

.notification-popup-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  background-color: #f7f7f7;
  border-bottom: 1px solid #ddd;
}

.notification-popup-title {
  margin: 0;
  font-size: 1rem;
  font-weight: bold;
}

.notification-popup-close {
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  color: #666;
}

.notification-popup-close:hover {
  color: #333;
}

.notification-popup-body {
  padding: 7px;
}

.notification-item {
  max-height: 15vh;
  background-color: #f9f9f9;
  margin-bottom: 8px;
  overflow: hidden;
  border-radius: 9px;
}

.notification-title {
  font-weight: bold;
  font-size: 15px;
  width: 50%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 5px;
}

.notification-content {
  line-height: 1.2;
  margin: 2px 0 0 0;
  font-size: 14px;
  overflow: hidden;
  max-width: 90%;
  text-overflow: ellipsis;
  margin-left: 5%;
}

.notification-timestamp {
  display: block;
  margin: 5px 0 0 auto;
  font-size: 12px;
  color: #999;
}

.notification-item.clickable {
  display: grid;
  grid-template-rows: auto 1fr;
  color: #333;
  padding: 5px;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
}


.notification-item.clickable:hover {
  background-color: #f78fa9;
}


.notification-item, .notification-title, .notification-content, .notification-timestamp {
  text-decoration: none;
}

.imgCont {
  height: 300px ;
  width: 100%;
  display: flex;
  justify-content: center;
  
}

.imgCont img {
  height: 100%;
  width: 40%;
}

@media screen and (max-width: 767px) {
  .container {
    padding: 20px;
  }

  #announcements {
    row-gap: .3rem;
  }

  .card {
    width: 40%;
    height: 40%;
    transition: all 0.6s;
  }

  .createBtn {
    font-size: 2.1rem;
    position: fixed;
    bottom: 15%;
    left: 85%;
    transform: translate(-30%, 50%);
  }
  .content-header{
    width: 100;
    text-overflow: ellipsis;
  }
  .card-title{
    white-space: normal;
    text-overflow: ellipsis;
  }
  
  .card-header {
    font-size: 1.2em;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .card-footer {
    font-size: .8em;
  }

}
